<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            /* height: auto; */
            /* background-size: cover; */
            background-image: linear-gradient(to top, #a18cd1 20%, #fbc2eb 100%);
            /* background-repeat: no-repeat; */
            /* background-attachment: fixed; */
        }
    </style>
</head>

<body>
<P>1</P>
<P>2</P>
<P>3</P>
<P>4</P>
<P>5</P>
<P>6</P>
<P>7</P>
<P>8</P>
<P>9</P>
<P>10</P>
<P>11</P>
<P>12</P>
<P>13</P>
<P>14</P>
<P>15</P>
<P>16</P>
<P>17</P>
<P>18</P>
<P>19</P>
<P>20</P>
<P>21</P>
<P>22</P>
<P>23</P>
<P>24</P>
<P>25</P>
<P>26</P>
<P>27</P>
<P>28</P>
<P>29</P>
<P>30</P>
<P>31</P>
<P>32</P>
<P>33</P>
<P>34</P>
<P>35</P>
<P>36</P>
<P>37</P>
<P>38</P>
<P>39</P>
<P>40</P>
<P>41</P>
<P>42</P>
<P>43</P>
<P>44</P>
<P>45</P>
</body>

</html>